<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517985462544-p7nalbljpfv8dqpqlj34unub88h8nmtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517985462544-p7nalbljpfv8dqpqlj34unub88h8nmtu</string>
	<key>API_KEY</key>
	<string>AIzaSyA2H9_kEihkuV-arariDXBIYelMpiHcb18</string>
	<key>GCM_SENDER_ID</key>
	<string>517985462544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DBAL.GiveCake</string>
	<key>PROJECT_ID</key>
	<string>givecake-cf893</string>
	<key>STORAGE_BUCKET</key>
	<string>givecake-cf893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517985462544:ios:7375a291e234ffc1975d95</string>
</dict>
</plist>